# Unity
*.cginc              text
*.cs                 text diff=csharp
*.shader             text

# Unity YAML
*.mat                merge=unityyamlmerge eol=lf
*.anim               merge=unityyamlmerge eol=lf
*.unity              merge=unityyamlmerge eol=lf
*.prefab             merge=unityyamlmerge eol=lf
*.asset              merge=unityyamlmerge eol=lf
*.meta               merge=unityyamlmerge eol=lf
*.controller         merge=unityyamlmerge eol=lf

# "physic" for 3D but "physics" for 2D
*.physicMaterial2D   merge=unityyamlmerge eol=lf
*.physicMaterial     merge=unityyamlmerge eol=lf
*.physicsMaterial2D  merge=unityyamlmerge eol=lf
*.physicsMaterial    merge=unityyamlmerge eol=lf

# Using Git LFS
# Add diff=lfs merge=lfs to the binary files

# Unity LFS
*.cubemap            diff=lfs merge=lfs
*.unitypackage       diff=lfs merge=lfs

# 3D models
*.3dm                diff=lfs merge=lfs
*.3ds                diff=lfs merge=lfs
*.blend              diff=lfs merge=lfs
*.c4d                diff=lfs merge=lfs
*.collada            diff=lfs merge=lfs
*.dae                diff=lfs merge=lfs
*.dxf                diff=lfs merge=lfs
*.FBX                diff=lfs merge=lfs
*.fbx                diff=lfs merge=lfs
*.jas                diff=lfs merge=lfs 
*.lws                diff=lfs merge=lfs 
*.lxo                diff=lfs merge=lfs
*.ma                 diff=lfs merge=lfs
*.max                diff=lfs merge=lfs
*.mb                 diff=lfs merge=lfs
*.obj                diff=lfs merge=lfs
*.ply                diff=lfs merge=lfs
*.skp                diff=lfs merge=lfs
*.stl                diff=lfs merge=lfs
*.ztl                diff=lfs merge=lfs

# Audio
*.aif                diff=lfs merge=lfs
*.aiff               diff=lfs merge=lfs
*.it                 diff=lfs merge=lfs
*.mod                diff=lfs merge=lfs
*.mp3                diff=lfs merge=lfs
*.ogg                diff=lfs merge=lfs
*.s3m                diff=lfs merge=lfs
*.wav                diff=lfs merge=lfs
*.xm                 diff=lfs merge=lfs

# Video
*.asf                diff=lfs merge=lfs
*.avi                diff=lfs merge=lfs
*.flv                diff=lfs merge=lfs
*.mov                diff=lfs merge=lfs
*.mp4                diff=lfs merge=lfs
*.mpeg               diff=lfs merge=lfs
*.mpg                diff=lfs merge=lfs
*.ogv                diff=lfs merge=lfs
*.wmv                diff=lfs merge=lfs

# Images
*.bmp                diff=lfs merge=lfs
*.exr                diff=lfs merge=lfs
*.gif                diff=lfs merge=lfs
*.hdr                diff=lfs merge=lfs
*.iff                diff=lfs merge=lfs
*.jpeg               diff=lfs merge=lfs
*.jpg                diff=lfs merge=lfs
*.pict               diff=lfs merge=lfs
*.png                diff=lfs merge=lfs
*.psd                diff=lfs merge=lfs
*.tga                diff=lfs merge=lfs
*.tif                diff=lfs merge=lfs
*.tiff               diff=lfs merge=lfs

# Compressed Archive
*.7z                diff=lfs merge=lfs
*.bz2               diff=lfs merge=lfs
*.gz                diff=lfs merge=lfs
*.rar               diff=lfs merge=lfs
*.tar               diff=lfs merge=lfs
*.zip               diff=lfs merge=lfs

# Compiled Dynamic Library
*.dll               diff=lfs merge=lfs
*.pdb               diff=lfs merge=lfs
*.so                diff=lfs merge=lfs

# Fonts
*.otf               diff=lfs merge=lfs
*.ttf               diff=lfs merge=lfs

# Executable/Installer
*.apk               diff=lfs merge=lfs
*.exe               diff=lfs merge=lfs

# Documents
*.pdf               diff=lfs merge=lfs

# ETC
*.a                 diff=lfs merge=lfs
*.rns               diff=lfs merge=lfs
*.reason            diff=lfs merge=lfs

# Collapse Unity-generated files on GitHub
*.asset             linguist-generated
*.mat               linguist-generated
*.meta              linguist-generated
*.prefab            linguist-generated
*.unity             linguist-generated

# Spine export file for Unity
*.skel.bytes        diff=lfs merge=lfs
